@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

.repo-list-container h1 {
    font-size: 50px;
    color: #581b98;
    border: 2px solid #574b90;
    padding: 20px;
    width: 40%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    /* overflow: scroll; */
}

.repo-list {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.repo-card {
    border: 1px solid #482ff7;
    /* width: 50%; */
    height: 230px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 10px 5px #dfdfdf;
    background: #fafafa;
    flex: 0 0 40%;
}

.repo-card-name {
    margin-top: 35px;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #303a52;
}

.repo-card-description {
    font-size: 20px;
    font-family: 'Asap', sans-serif;
    color: #1e2a78;
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
}

.repo-card-date {
    margin-top: 20px;
}

.repo-error-msg {
    font-size: 40px;
    text-align: center;
}

.repo-detail-container h1 {
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  font-size: 50px;
  font-family: 'Quicksand', sans-serif;
  color: #574b90;
}

.repo-detail-container div{
    margin-top: 40px;
    font-size: 40px;
    text-align: center;
}